@charset "utf-8";
*{box-sizing:border-box;}
html{
    font-size:10px;
}
body{
    font-size:1.5rem;
    font-family: 'Noto Sans KR', sans-serif;
    line-height:1.6;
}
.font_en{font-family: 'Montserrat', sans-serif;}
.center{
    width:1200px;
    margin:0px auto;
}
.clear_fix{
    content:'';
    display:block;
    clear:both;
}
.blind{
    position:absolute;
    left:-9999px;
}
.res_img{
    width:100%;
}
a{
    color:#000;
    text-decoration:none;
}
a:hover,a:focus{
    color:#000000;
    text-decoration:none;
}
#skip_nav>a{
    position:absolute;
    top:0px;
    left:-9999px;
    z-index:9999;
    width:100%;
    text-align:center;
    line-height:40px;
    color:rgb(0, 0, 0);
    background:#ffffff;
}
#skip_nav>a:focus{
    left:0px;
}

/* header */
#hd{
    position:absolute;
    z-index:10;
    top:0px;
    left:0px;
    width:100%;
    padding-top:30px;
    transition:0.2s;
    padding-bottom:20px;
    background-color:#fff;
}
#hd.on{
    position:fixed;
}
#hd:hover{
    background-color:#fff;
}
#hd>div{
    width:1300px;
    margin:0px auto;
}
#hd_con{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom:20px;
}
.logo>a{
    height:25px;
    width:215px;
    display:block;
    text-indent:-9999px;
    background-image:url(../img/logo.png);
    background-repeat:no-repeat;
    background-size:contain;
}
.hd_menu{
    display:flex;
    align-items:center;
}
.hd_menu>a{
    color:#000;
    font-size:1.2rem;
    font-weight:300;
    padding:0px 20px;
}
.hd_menu>a.on{
    color:#000;
}
#seach_wrap{
    position:relative;
}
#seach_wrap>button{
    text-indent:-9999px;
    line-height:15px;
    width:15px;
    height:15px;
    background-image:url(../svg/search_1.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-color:transparent;
    border:none;
}
#seach_wrap>form{
    display:none;
    position:absolute;
    top:0px;
    right:-5px;
}
#search{
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    width:270px;
}
.search_close{
    display:none;
    position:absolute;
    top:50%;
    right:0px;
    z-index:10;
    transform:translateY(-55%);
    width:15px;
    height:15px;
}
.search_field>a{
    position:absolute;
    top:0px;
    right:25px;
    color:#333;
    background-color:#eee;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    height:23px;
    width:60px;
    text-align:center;
    font-size:1rem;
    font-weight:300;
    line-height:23px;
}
#gnb>ul{
    display:flex;
    font-size:1.6rem;
    font-weight:500;
    text-align:center;
}
#gnb>ul>li{
    flex-grow:1;
    flex-basis:0;
}
#gnb>ul>li>a{
    color:#000;
    display:block;
    line-height:50px;
}
#gnb>ul>li>a:hover{
    color:#6d5d45;
}
#gnb>ul>li>ul{
    display:none;
}
#gnb>ul>li>ul>li>a{
    display:block;
    line-height:50px;
    font-size:1.4rem;
    font-weight:300;
    font-family: 'Noto Sans KR', sans-serif;
}
#gnb>ul>li>ul>li>a:hover{
    color:#6d5d45;
}
#gnb>ul>li>ul>li>a:after{
    content:'';
    border-bottom: 1px solid #6d5d45;
    width:0px;
    margin: 0px auto;
    display:block;
    transition:0.5s;
}
#gnb>ul>li>ul>li>a:hover:after{
    width:20px;
}

/* footer */
#ft_wrap{
    padding:95px 0px;
    background-color:#ecebe7;
    color:#443d21;
}
#ft{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
#ft_logo>a{
    background-image:url(../img/logo.png);
    background-repeat:no-repeat;
    background-size:contain;
    display:block;
    text-indent:-9999px;
    height:25px;
    width:215px;
}
#ft_center{
    width:640px;
}
#ft_center>address{
    padding-left:20px;
    font-size:1.2rem;
    font-weight:300;
    line-height:22px;
    margin-bottom:10px;
}
.copy{
    line-height:22px;
    font-weight:300;
    margin-left:20px;
    font-size:1.2rem;
}
#ft_menu{
    display:flex;
    margin-bottom:40px;
}
#ft_menu>a{
    text-align:center;
    display:inline-block;
    font-weight:300;
    font-size:1.6rem;
    flex-grow:1;
    flex-basis:auto;
    color:#443d21;
}
#ft_menu>a::after{
    content:'';
    border-bottom: 1px solid #6d5d45;
    width:0px;
    margin: 0px auto;
    display:block;
    transition:0.5s;
}
#ft_menu>a:hover:after{
    width:50px;
}
#ft_menu>a:hover{
    color:#000;
}
#customer{
    text-align: end;
}
#customer>span{
    display:block;
}
#customer>span:nth-of-type(1){
    font-weight:300;
    font-size:1.6rem;
}
#customer>span:nth-of-type(2){
    font-size:2.5rem;
    font-weight:700;
    margin:30px 0px 30px;
}
#customer>p{
    line-height:30px;
    font-weight:300;
    font-size:1.2rem;
}
#fix_menu{
    position:fixed;
    display:none;
    bottom:50px;
    right:50px;
}
#fix_menu>a{
    display:block;
    background-repeat:no-repeat;
    text-indent:-9999px;
    height:40px;
    width:40px;
    margin:15px;
    opacity:0.5;
    transition:0.5s;
}
#fix_menu>a:hover{
    opacity:1;
}
#fix_menu>a:nth-of-type(1){
    background-image:url(../svg/top.svg);
}
#fix_menu>a:nth-of-type(2){
    background-image:url(../svg/blog.svg);
}
#fix_menu>a:nth-of-type(3){
    background-image:url(../svg/facebook.svg);
}
#fix_menu>a:nth-of-type(4){
    background-image:url(../svg/insta.svg);
}
#fix_menu>a:nth-of-type(5){
    background-image:url(../svg/youtube.svg);
}
