@charset "utf-8";
.res_img{width:100%; max-width:100%;}
.m_con{display:none;}

/* tablet */
@media all and (min-width:768px) and (max-width:1316px){
    .center{width:initial;
        padding:0px 20px;
    }
    .btn_m_gnb_open{
        width:40px;
        height:30px;
    }
    .btn_m_gnb_close{
        position:absolute;
        left:20px;
        top:20px;
        width:40px;
        height:40px;
        border:none;
        background-color:transparent;
    }
    .m_search_wrap{
        top:50%;
        right:15px;
        transform:translatey(-50%);
    }
    .m_search_close{
        top:50%;
        right:5px;
        width:30px;
        height:30px;
    }
    #search{
        height:40px;
    }
    .search_field>a{
        height:40px;
        line-height:40px;
        font-size:1.2rem;
        right:40px;
        border-top:0px;
        border-bottom:0px;
    }
    .m_search{
        width:30px;
        height:30px;
    }
    #m_customer{
        position:absolute;
        bottom:0px;
        left:0px;
        padding:20px;
        width:100%;
        background-color:#ecebe7;
    }
    .bx_wrap1{
        margin-top:70px;
        height:375px;
    }
    .bx_wrap1 .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        bottom:600px;
    }
    .bx1_1{
        background-size:contain;
    }
    .bx1_2{
        background-size:contain;
    }
    .bx1_3{
        background-size:contain;
    }
    .bx1>div>h2{
        font-size:2.0rem;
        top:20%;
    }
    .bx1>div>h3{
        display:none;
    }
    #scroll{
        display:none;
    }
    #best_p{
        height:650px;
        padding:80px 20px 0px;
    }
    #best_p>h2{
        font-size:2.0rem;
        margin-bottom:25px;
    }
    .bx2>div>div>a>p{
        font-size:1.2rem;
    }
    .bx2>div>div>a>p>span{
        font-size:1.2rem;
    }
    .bx_wrap2 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
        bottom:-25px;
    }
    #category_wrap{
        padding:50px 0px;
        height:340px;
    }
    #category{
        width:initial;
        padding:0px 20px;
    }
    #category>h2{
        font-size:2.0rem;
        margin-bottom:60px;
    }
    #category>div>a{
        font-size:1.4rem;
    }
    #category>div>a>img{
        margin-bottom:20px;
    }
    #collection_wrap{
        padding-top:50px;
        height:1000px;
        margin-bottom:250px;
    }
    #collection>h2{
        font-size:2.0rem;
        margin-bottom:25px;
    }
    .tab_title{
        margin-bottom:25px;
    }
    .tab_title>a{
        font-size:1.4rem;
    }
    .tab_contents>div>div{
        width:49%;
    }
    .tab_contents>div>div:nth-of-type(1){
        margin-right:20px;
    }
    .tab_contents>div>div>a{
        width:100%;
        max-width:100%;
    }
    #bg_con{
        top:2435px;
        font-size:2.0rem;
        height:250px;
        padding-top:100px;
    }
    #interior_wrap{
        padding-top:50px;
        padding-bottom:50px;
    }
    #interior>h2{
        font-size:2.0rem;
        margin-bottom:25px;
    }
    #interior>div{
        justify-content:space-between;
        
    }
    #interior>div>a{
        width:32%;
        height:auto;
    }
    #interior>div>a:nth-of-type(7){
        display:none;
    }
    #interior>div>a:nth-of-type(8){
        display:none;
    }
    #ft_wrap{
        padding:50px 0px;
    }
    #ft_logo>a{
        margin-bottom:50px;
    }
}/* tablet E*/

/* mobile */
@media all and (max-width:767px){
    .center{width:initial;
        padding:0px 10px;
    }
    #hd{
        padding:10px 0px 10px;
    }
    #hd_con{
        justify-content:center;
        margin-bottom:0px;
    }
    .btn_m_gnb_open{
        width:20px;
        height:20px;
    }
    .btn_m_gnb_close{
        position:absolute;
        left:20px;
        top:20px;
        width:30px;
        height:30px;
        border:none;
        background-color:transparent;
    }
    .m_search_close{
        top:50%;
        right:5px;
        width:20px;
        height:20px;
    }
    .search_field>a{
        height:30px;
        line-height:30px;
        font-size:1.2rem;
        right:30px;
        border-top:0px;
        border-bottom:0px;
    }
    .m_search{
        width:20px;
        height:20px;
    }
    .m_search_wrap{
        top:50%;
        right:15px;
        transform:translatey(-50%);
    }
    #search{
        height:30px;
    }
    #m_customer{
        display:none;
        position:absolute;
        bottom:20px;
        left:20px;
    }
    .bx_wrap1{
        margin-top:55px;
        height:170px;
    }
    .bx1{height:300px;}
    .bx_wrap1 .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        bottom:50px;
    }
    .bx1>div>h3{
        display:none;
    }
    #scroll{
        display:none;
    }
    .bx1_1{
        background-size:contain;
        height:220px;
    }
    .bx1_2{
        background-size:contain;
        height:220px;
    }
    .bx1_3{
        background-size:contain;
        height:220px;
    }
    .bx1>div>h2{
        font-size:1.4rem;
        top:30%;
    }
    #best_p{
        height:500px;
        padding:50px 20px 0px;
    }
    #best_p>h2{
        font-size:1.6rem;
        margin-bottom:25px;
    }
    .bx2>div{
        width:150px !important;
        margin-right:30px !important;
    }
    .bx2>div>div>a>p{
        font-size:1.0rem;
    }
    .bx2>div>div>a>p>span{
        font-size:1.0rem;
    }
    .bx_wrap2 .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
        bottom:-30px;
    }
    #category_wrap{
        padding:20px 0px 20px;
        height:230px;
    }
    #category{
        width:initial;
        padding:0px 20px;
    }
    #category>h2{
        font-size:1.6rem;
        margin-bottom:25px;
    }
    #category>div{
        overflow:auto;
        height:150px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #category>div::-webkit-scrollbar {
        display: none;
    }
    #category>div>a{
        padding:0px 30px;
        font-size:1.2rem;
    }
    #category>div>a>img{
        margin-bottom:20px;
    }
    #collection_wrap{
        height:1000px;
        margin-bottom:100px;
        padding-top:50px;
    }
    #collection>h2{
        font-size:1.6rem;
        margin-bottom:25px;
    }
    .tab_title{
        line-height:40px;
        overflow:auto;
        margin-bottom:20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .tab_title::-webkit-scrollbar {
        display: none;
    }
    .tab_title>a{
        font-size:1.2rem;
        padding-left:30px;
    }
    .tab_title>a:hover::after{
        width:30px;
    }
    .tab_title>a:after.on{
        width:30px;
    }
    .tab_contents>div>div{
        width:100%;
    }
    .tab_contents>div>div:nth-of-type(1){
        display:none;
    }
    .tab_contents>div>div:nth-of-type(2)>a{
        background-position:center;
    }
    .tab_contents>div>div:first-child>a{
        height:200px;
    }
    .tab_contents>div>div>a{
        width:100%;
        max-width:100%;
    }
    #bg_con{
        top:1955px;
        height:100px;
        font-size:1.6rem;
        padding-top:25px;
    }
    #interior_wrap{
        padding-top:50px;
        padding-bottom:50px;
    }
    #interior>h2{
        font-size:1.6rem;
        margin-bottom:20px;
    }
    #interior>div>a{
        width:49%;
        height:auto;
        margin-bottom:5px;
    }
    #interior>div>a:nth-of-type(7){
        display:none;
    }
    #interior>div>a:nth-of-type(8){
        display:none;
    }
    #ft_wrap{
        padding-top:50px;
        padding-bottom:50px;
    }
    #ft_logo>a{
        margin-bottom:25px;
    }
    #ft_center{
        width:100%;
    }
    #ft_menu>a{
        display:none;
        font-size:1.2rem;
    }
    #ft_center>address{
        font-size:1.0rem;
    }
    .copy{
        font-size:1.0rem;
    }
    #customer{
        display:none;
    }
    #customer>span:nth-of-type(1){
        font-size:1.2rem;
    }
    #customer>span:nth-of-type(2){
        font-size:1.6rem;
    }
    #customer>p{
        font-size:1.0rem;
    }
    #fix_menu{
        transform:scale(0.8);
        bottom:00px;
        right:00px;
    }
}/* mobile E*/

/* tablet & mobile */
@media all and (max-width:1316px){
    .pc_con{display:none;}
    .m_con{display:initial;}
    #hd{
        padding-top:20px;
    }
    #hd_con{
        padding:0px 20px;
        justify-content:space-between;
        margin-bottom:0px;
    }
    .btn_m_gnb_open{
        background-image:url(../svg/m_menu.svg);
        background-position:center;
        background-color:transparent;
        background-repeat:no-repeat;
        border:none;
        text-indent:-9999px;
    }
    .m_gnb_wrap{
        position:fixed;
        z-index:9999;
        top:0px;
        left:-305px;
        width:300px;
        height:100vh;
        padding-top:70px;
        background-color:#fff;
        overflow:auto;
        transition:0.5s;
    }
    .m_gnb_bg{
        position:fixed;
        display:none;
        background-color:rgba(0,0,0,0.6);
        top:0px;
        left:0px;
        width:100vw;
        height:100vh;
        z-index:9998;
    }
    #m_gnb>ul>li{
        padding-left:70px;
    }
    #m_gnb>ul>li>a{
        line-height:40px;
        font-size:1.4rem;
        font-weight:600;
        background:url(../svg/plus.svg) no-repeat center;
        background-size:11px 11px;
        display:block;
    }
    #m_gnb>ul>li:nth-of-type(8)>a:nth-of-type(1){
        background:none;
    }
    #m_gnb>ul>li>ul>li>a{
        display:block;
        font-size:1.3rem;
        font-weight:500;
        padding-left:20px;
        line-height:35px;
    }
    #m_gnb>ul>li>ul{
        display:none;
    }
    #m_gnb>ul>li>a.on{
        background-image:url(../svg/minus.svg);
    }
    .m_search{
        position:relative;
        background-image:url(../svg/m_search.svg);
        text-indent:-9999px;
        background-size:contain;
        background-color:transparent;
        background-repeat:no-repeat;
        border:none;
    }
    .m_search_wrap{
        display:none;
        position:absolute;
        top:50%;
        right:15px;
        transform:translatey(-50%);
    }
    .m_search_close{
        position:absolute;
        z-index:10;
        transform:translateY(-55%);
    }
    #hd>div{width:initial;}
    #m_customer>span{
        display:block;
    }
    #m_customer>span:nth-of-type(1){
        font-weight:300;
        font-size:1.6rem;
    }
    #m_customer>span:nth-of-type(2){
        font-size:2.5rem;
        font-weight:700;
        margin:30px 0px 30px;
    }
    #m_customer>p{
        line-height:30px;
        font-weight:300;
        font-size:1.2rem;
    }
    #ft_wrap{
        position:relative;
    }
    #ft_menu{
        position: absolute;
        top:50px;
        right:20px;
    }
    #ft_menu>a{
        padding-left:35px;
        font-size:1.4rem;
    }
    #ft_center>address{
        padding-left:0px;
    }
    .copy{
        margin-left:0px;
    }
    #ft_logo>a{
        height:20px;
        width:150px;
    }
    #interior>div>a:hover>div{
        display:none;
    }
    #customer{
        position: absolute;
        top:120px;
        right:20px;
    }
    #customer>span:nth-of-type(1){
        font-size:1.4rem;
    }
    #customer>span:nth-of-type(2){
        margin:10px 0px 10px;
    }
    #customer>p{
        line-height:26px;
    }
    #fix_menu{
        bottom:0px;
        right:0px;
    }
}/* tablet & mobile E*/